.game-parent {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: #3e1616;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.game-content {
    width: 90%;
    height: 80%;
    background: #236d44;
    color: white;
    position: relative;
}

.question-parent {
    padding-left: 50px;
    margin-top:20px;
}
.question-header {
    margin-bottom: 25px;
    font-size: 18px;
}
.question {
    font-size: 35px;
    margin-bottom: 10px;
}
.answers {
    position: absolute;
    bottom: 10px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    /* text-align: center; */
    justify-content: center;
    height: 100px;
    align-items: center;
}
.option {
    font-size: 25px;
}
.answer-option {
    width: 50px;
    border: 1px solid white;
    text-align: center;
    margin-right: 20px;
    height: 50px;
    line-height: 45px;
    cursor: pointer;
}
.answer-option :hover {
background: white;
color: #236d44;
}
.game-loading {
    font-size: 50px;
}

.result-page {
    text-align: center;
    font-size: 50px;
    margin-top:30px;
}

.answer-option:hover {
    background: white;
    color: #236d44;
}